# File adapter
AUDIT_FILE_PATH=./audittrailjs.log.json

# Mongo adapter
MONGO_URI=mongodb://localhost:27017
MONGO_DB=auditdb

# MySQL adapter
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASS=
MYSQL_DB=auditdb
